/* Your CSS goes here! */
.table {
    border: 1px solid black;
}

.h1 {
    color: rgb(8, 214, 43);
}

.font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hyperlink {
    color:rgb(185, 185, 185)
}
