/* Your CSS goes here! */
.table {
    border: 3px solid black;
}

.projects {
    font-family: "Lucida Handwriting", cursive;
    color: lightseagreen;
}

.project_description{
    font-family: fantasy;
}

.about_description{
    font-family: fantasy;
}

.h1 {
    font-family: fantasy;
}

.thead {
    font-family: fantasy;
}

.tbody {
    font-family: "Lucida Handwriting", cursive;
}